<article class="post-wrapper">

  <h2>
    <%= @post.title %>
  </h2>
  <div class="date">
    <%= @post.created_at %>
  </div>

  <section class="post">
    <%= dat_render(@post.body) %>
  </section>
  
  <form action="<%= @post.slug %>/delete" method="post" accept-charset="utf-8">
    <p><a href="<%= @post.slug %>/edit">Edit</a> | <input type="submit" value="Delete &rarr;"></p>
  </form>
  
  
</article>